.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: rgb(255, 16, 83);
  color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
}

.nav button {
  margin-left: 10px;
  padding: 8px 14px;
  background-color: #3a3a4f;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.nav button:hover {
  background-color: rgb(243, 155, 180);
}
